/* Botões */
.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger{
  box-shadow: none;
  text-shadow: none;
  border: 1px solid;
  //background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
  font-family: @font-family_titles;
  font-weight: 500;
  text-transform: uppercase;
}

.btn-primary{
  background: none;
  border-color: @color_primary;
  color: @color_primary;
}
.btn-primary:hover,
.btn-primary:focus{
  background: @color_primary;
  border-color: #FFF;
  color: #FFF;
}

.btn-default{
  background: none;
  border-color: @color_default;
  color: @color_default;
}
.btn-default:hover,
.btn-default:focus{
  background: @color_default;
  border-color: #FFF;
  color: #FFF;
}

.btn-success{
  background: none;
  border-color: @color_success;
  color: @color_success;
}
.btn-success:hover,
.btn-success:focus{
  background: @color_success;
  border-color: #FFF;
  color: #FFF;
}

.btn-info{
  background: none;
  border-color: @color_info;
  color: @color_info;
}
.btn-info:hover,
.btn-info:focus{
  background: @color_info;
  border-color: #FFF;
  color: #FFF;
}

.btn-warning{
  background: none;
  border-color: @color_warning;
  color: @color_warning;
}
.btn-warning:hover,
.btn-warning:focus{
  background: @color_warning;
  border-color: #FFF;
  color: #FFF;
}

.btn-danger{
  background: none;
  border-color: @color_danger;
  color: @color_danger;
}
.btn-danger:hover,
.btn-danger:focus{
  background: @color_danger;
  border-color: #FFF;
  color: #FFF;
}