/* CORES */

//Paleta Principal
@color_default:         #656565;
@color_default_sup:      #5A5A5A;
@color_primary:         #208DCA;
@color_primary_sup:     #1D82B8;
@color_success:         #52B560;
@color_success_sup:     #48AA57;
@color_info:            #41C1FC;
@color_info_sup:        #2CB8FC;
@color_warning:         #F9B15D;
@color_warning_sup:     #F9A948;
@color_danger:          #F47473;
@color_danger_sup:      #F26060;

//Textos
@color_text_default:    #333333;


/* FONTES */
@font-family_titles:           'Open Sans', sans-serif;